<section>
    <button (click)="onPlayAllClick()">{{isAutoPlaying?'Pause':'Play all'}}</button>
    <article *ngIf="description" [innerHTML]="description"></article>
    <ul class="conversations">
        <li class="item" *ngFor="let item of conversations, let idx=index">
            <img *ngIf="item.image" [attr.src]="item.image"/>
            <div>{{item.l1text}}</div>
            <div>{{item.l2text}}</div>
            <div>{{item.speaker}}</div>
            <div>{{item.l1speaker}}</div>
            <button (click)="onPlaySoundClick(idx)">{{item.audioPlaying ? 'pause' : 'play'}}</button>
        </li>
    </ul>
</section>
